<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="headBlock">
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap-theme.css}" />
    <!-- Responsive datatable examples -->
</th:block>
<script type="text/javascript">
    $(function() {
        $("#no-id-alert-danger").hide();
        $("#id-alert-success").hide();
        $("#id-alert-danger").hide();
        $("#idCheck").click(function(){
            $.ajax({
                type: 'GET',
                data: {
                    "loginId": $("#loginId").val()},
                url : "getUserById",
                success : function(data) {
                    console.log(data);
                    var loginId = $("#loginId").val();
                    if(!loginId || loginId.length<7 || loginId.length>14 ){
                        $("#no-id-alert-danger").show();
                        $("#id-alert-success").hide();
                        $("#id-alert-danger").hide();
                    }else if(data=='0') {
                        $("#no-id-alert-danger").hide();
                        $("#id-alert-success").show();
                        $("#id-alert-danger").hide();
                    } else if (data=="1") {
                        $("#no-id-alert-danger").hide();
                        $("#id-alert-success").hide();
                        $("#id-alert-danger").show();
                    }
                }
            })
        })
    });
</script>
<th:block layout:fragment="mainContent">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <div class="account-box">
                    <div class="logo ">
                        <img src="http://placehold.it/90x38/fff/6E329D&text=LOGO" alt=""/>
                    </div>

                    <form class="form-signin" th:action="@{login}" method="post">

                        <div class="form-group">
                            <label for="loginId">아이디</label>
                            <input type="text" id="loginId" name="loginId" required="required" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="text" id="password" name="password" class="form-control">
                        </div>
                        <button class="btn btn-lg btn-block purple-bg" id="submit" type="submit"> 로그인</button>
                    </form>

                    <div class="or-box row-block">
                        <div class="row">
                            <div class="col-md-12 row-block">
                                <a id="myRegisterBtn" th:href="@{/user/join}" class="btn btn-primary btn-block">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="endBlock">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/libs/bootstrap/js/user.js}"></script>
    <script th:src="@{/libs/bootstrap/js/npm.js}"></script>
</th:block>
</html>