<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>

    <h4>안녕하세요

        <div th:each="view : ${viewList}">
             <div th:text="${view.userName}"></div>
        </div>
        님
    </h4>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <input type="button" name="Logout" value="로그아웃"  onclick="location.href='logout'">
            </form>
        </div>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>